.logo-overlay {
  position: relative;
  top: 0px;
  left: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 60px 20px 20px;
  border-radius: 12px;
  border: 0.5px solid green;
  box-shadow: 0 2px 8px rgba(58, 1, 1, 0.1);
}

.logo-image {
  max-width: 200px; /* Adjust size as needed */
  height: auto;
  display: block;
}